/*INDEX*/
/* #index-container {
    float: left;
    width: 250px;
    height: 1000px;
    padding: 0.5em;

    border-width: 1px;
    border-color: #d9d9d9;
    border-right-style: solid;
} */
.invisible{
    display:none;
}
.areas{
    background-color: #F1F1B4;
    cursor:pointer;
}
.state-name{
    margin-left: 20px;
}
.area-name:hover,.state-name:hover{
    background-color: lightblue;
}
/*BARCHART*/
#bar-chart {
    float: left;
    width: 550px;
    height: 450px;
    margin-right: 20px;
}
#yBarAxis text {
    font-size: 0.85em;
    cursor: pointer;
}
.rect{
    stroke-width:1;
    stroke:black;
    cursor: pointer;
}
.rect:hover{
    stroke-width:1.5;
    stroke:red;

}
.bar-tooltip{
    font-family:sans-serif;
    font-size:11px;
    fill:black;
}
#yBarAxis text:hover,#xLineAxis text:hover{
    font-weight: bold;
    fill:grey;
}
/*LINECHART*/
#line-chart {
    float: left;
    width: 550px;
    height: 450px;
    margin-right: 20px;
}
.line{
    fill:none;
    stroke:grey;
    stroke-width:1
}
.grat {
    stroke: grey;
    stroke-width: 1px;
    opacity: .2;
}
.highlight{
    stroke:red;
    stroke-width:2px;
}
.line:hover{
    stroke: blue;
    stroke-width:3px;

}
/*PIECHART*/


#pie-chart {
    float: left;
    width: 550px;
    height: 550px;
    border-width: 1px;
    border-color: #d9d9d9;
}


@font-face {
    font-family: 'Shrikhand', cursive;
    src: url('Shrikhand-Regular.ttf');
}
*{
  font-family:"Arial";
}

h1 {
    margin-top: 0;
    font-family: 'Shrikhand', cursive;
    color: #008250;
}

h2 {
    font-family: 'Shrikhand', cursive;
    color: #008250;
    padding-bottom: 0px;
    margin-top: 3px;
    margin-bottom: 0px;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}


header {
    padding-left: 0.5em;
    clear: left;
    text-align: left;
    height: 30px;
}

.view {
    padding: 0.5em;
}

/*
#chort-chart {
    float: left;
    width: 550px;
    height: 550px;
    border-width: 1px;
    border-color: #d9d9d9;
} */
