#map-container{
    position: absolute;
    left: 17%;
    top:10%;
    width:80%;
    height:100%;
    float:right;
    z-index: -1;
}

#map-containers{
    position: absolute;
    top:10%;
    width:70%;
    height:100%;
    float:right;
    z-index: -1;
}

#line-charts {
    position: absolute;
    left: 70%;
    top:10%;
    width: 28%;
    height: 80%;
    z-index: 100;
}

.hide{
    opacity: 0.3;
}
/*INDEX*/
#index-container {
    position: absolute;
    left: 0;
    top:10%;
    width: 15%;
    height: 100%;
    padding: 1%;

    border-width: 1px;
    border-color: #d9d9d9;
    border-right-style: solid;
}
.invisible{
    display:none;
}
.areas{
    background-color: #F1F1B4;
    cursor:pointer;
}
.state-name{
    margin-left: 20px;
}
.area-name:hover,.state-name:hover{
    background-color: lightblue;
}
/*BARCHART*/
#bar-chart {
    position: absolute;
    left: 20%;
    top:10%;
    width: 38%;
    height: 90%;
    z-index: 100;
}
#yBarAxis text {
    font-size: 1em;
}
.rect{
    stroke-width:1;
    stroke:grey;
    cursor: pointer;
}

.bar-tooltip{
    font-family:sans-serif;
    font-size:10px;
    fill:black;
}
#xLineAxis text:hover{
    font-weight: bolder;
    fill:red;
}
/*LINECHART*/
#line-chart {
    position: absolute;
    left: 60%;
    top:10%;
    width: 38%;
    height: 90%;
    z-index: 100;
}
.line{
    fill:none;
    stroke:#666666;
    stroke-width:1
}
.grat {
    stroke: grey;
    stroke-width: 1px;
    opacity: .2;
}
.highlight{
    stroke:red;
    stroke-width:2px;
}
.lineHover{
    stroke: #66a8cc;
    stroke-width:3px;

}
/*PIECHART*/


#pie-chart {
    float: left;
    width: 550px;
    height: 550px;
    border-width: 1px;
    border-color: #d9d9d9;
}


@font-face {
    font-family: 'Shrikhand', cursive;
    src: url('Shrikhand-Regular.ttf');
}
*{
  font-family:"Arial";
}

h1 {
    margin-top: 0;
    font-family: 'Shrikhand', cursive;
    color: #008250;
}

h2 {
    font-family: 'Shrikhand', cursive;
    color: #008250;
    padding-bottom: 0px;
    margin-top: 3px;
    margin-bottom: 0px;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
header{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:10%;
}

.view {
    padding: 0.5em;
}

/*
#chort-chart {
    float: left;
    width: 550px;
    height: 550px;
    border-width: 1px;
    border-color: #d9d9d9;
} */
